@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chart-pie,
  ngx-chart-bar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
