<div class ="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Programming languages</nb-card-header>
      <nb-card-body>
        <ngx-chart-pie [statType]="language"></ngx-chart-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
  <nb-card>
<!--    <nb-card-header>Languages Bar</nb-card-header>-->
    <nb-card-body>
      <ngx-chart-bar [statType]="language"></ngx-chart-bar>
    </nb-card-body>
  </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Code reviews</nb-card-header>
      <nb-card-body>
        <ngx-chart-pie [statType]="feedback"></ngx-chart-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
<!--      <nb-card-header>Languages Bar</nb-card-header>-->
      <nb-card-body>
        <ngx-chart-bar [statType]="feedback"></ngx-chart-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
