<div>

  <div class="aligncenter">
    <img src="../../../../assets/images/point_of_review_logo.png" alt="image" height="140" width="160">
  </div>
  <div class="title-container">
    <h1>Welcome to Point-of-review</h1>
  </div>

  <div class="inputs-container">
    <input nbInput fullWidth type="text" [(ngModel)]="email" nbInput fullWidth placeholder="email">
    <input nbInput fullWidth type="password" [(ngModel)]="password" nbInput fullWidth placeholder="Password">
  </div>
  <div class="row actions-container">
    <div class=" col-lg-3">
      <button (click)="signin()" nbButton status="primary" hero>sign in</button>
    </div>
    <div class="col-lg-3">
      <button (click)="signup()" nbButton status="primary" hero>sign up</button>
    </div>
  </div>
  <div>
    <strong class="error-message">{{errorMessage}}</strong>
  </div>