.title-container {
  margin-bottom: 6vh;
}

.inputs-container {
  margin-bottom: 6vh;
}

.actions-container {
  margin-bottom: 5vh;
}

.error-message {
  color: red;
}

.aligncenter {
  text-align: center;
}
