<h6>
  Review by {{review.userId}}
</h6>
<div class="row sections-row">
  <div class="col-lg-12">
    <nb-list listenWindowScroll>
      <nb-list-item *ngFor="let section of review.sections; let i = index">
        <nb-card>
          <nb-card-header>
            <h6>Section {{i}}</h6>
          </nb-card-header>
          <nb-card-body>
            <ngx-code-review-view [snippet]="snippet" [review]="review" [section]="section"></ngx-code-review-view>
          </nb-card-body>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </div>
</div>
