<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Add new code snippet</nb-card-header>
      <nb-card-body>
        <input class="title" type="text" nbInput fullWidth placeholder="Title" [(ngModel)]="snippet.title">

        <div class="row">
          <div class="col-lg-2">
            <nb-select [(selected)]="language">
              <nb-option value="javascript">Javascript</nb-option>
              <nb-option value="java">Java</nb-option>
              <nb-option value="c#">C#</nb-option>
              <nb-option value="c">C</nb-option>
              <nb-option value="python">Python</nb-option>
              <nb-option value="typescript">Typescript</nb-option>
            </nb-select>
          </div>

          <div class="col-lg-10 drop-down-list-container">
            <ng-multiselect-dropdown [placeholder]="'Tags'" [data]="dropdownList" [(ngModel)]="selectedTags"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <h6>Description:</h6>
        <angular-editor [config]="editorConfig" [placeholder]="'Enter description here...'"
          [(ngModel)]="snippet.description"></angular-editor>
        <h6>Code:</h6>
        <ngx-code-editor [(code)]="snippet.code"></ngx-code-editor>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" class="submit_button" hero (click)="submit()">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>