<div class="col-md-12 col-lg-12 col-xxxl-12">

  <div class="post_view">
    <nb-select [(selected)]="selectedItem" (selectedChange)="test($event)" class="selector">
      <nb-option value="Recommended">Recommended</nb-option>
      <nb-option value="Popular">Popular</nb-option>
      <nb-option value="Recent">Recent</nb-option>
    </nb-select>
  </div>
  <div class="col-lg-10 drop-down-list-container">
    <ng-multiselect-dropdown
      [placeholder]="'Search posts by tags...'"
      [data]="dropdownList"
      [(ngModel)]="selectedTags"
      [settings]="dropdownSettings"
      (onSelect)="searchTags()"
      (onDeSelect)="searchTags()">
    </ng-multiselect-dropdown>
  </div>
  <nb-list listenWindowScroll>
    <nb-list-item *ngFor="let codeSnippetPost of snippets">
      <ngx-code-snippet-post [snippet]="codeSnippetPost">
      </ngx-code-snippet-post>
    </nb-list-item>
  </nb-list>
</div>
