<div class="col-lg-12">
  <div class="desc-container" [innerHTML]="section.content"></div>

  <div class="lang-container row">
    <ngx-tags [tags]="section.tags"></ngx-tags>
  </div>
  <h6 class="code-comparison">Code comparison:</h6>
  <ngx-code-compare [originalCode]="snippet.code" [modifiedCode]="section.code">
  </ngx-code-compare>
  <div class="col-md-8">
    <ngx-score [score]="section.score" [snippet]="snippet" [section]="section" ></ngx-score>
  </div>
  <div style="float: right;">
    <ngx-report [username]="review.userId" class="snipp"></ngx-report>
  </div>
</div>
