<div class="row show-grid">
  <div class="col-md-3">
    <button nbButton ghost>
      <nb-icon icon="check" pack="fa" style="color: white;"></nb-icon>
    </button>
    {{getScore()}}
  </div>
  <div class="col-md-3">
    <button nbButton ghost
      [style.background-color]="toggle1 || this.score.voterToImpression[userName] == 'LIKE' ? 'blue' : 'rgba(0, 0, 0, 0)'"
      (click)="vote(0)">
      <nb-icon icon="thumbs-up" pack="fa" style="color: white;"></nb-icon>
    </button>
    {{getImpression('LIKE')}}
  </div>
  <div class="col-md-3">
    <button nbButton ghost
      [style.background-color]="toggle2 || this.score.voterToImpression[userName] == 'DISLIKE' ? 'blue' : 'rgba(0, 0, 0, 0)'"
      (click)="vote(1)">
      <nb-icon icon="thumbs-down" pack="fa" style="color: white;"></nb-icon>
    </button>
    {{getImpression('DISLIKE')}}
  </div>
</div>