<div class="row show-grid">
  <div class="col-md-3">
    <button nbButton ghost>
      <nb-icon icon="check" pack="fa" style="color: white;"></nb-icon>
    </button>
    {{score.score}}
  </div>
  <div class="col-md-3">
    <button nbButton ghost (click)="vote(2, 0)">
      <nb-icon icon="thumbs-up"  pack="fa" style="color: white;"></nb-icon>
    </button>
    {{getImpression('LIKE')}}
  </div>
  <div class="col-md-3">
    <button nbButton ghost (click)="vote(2, 1)">
      <nb-icon icon="thumbs-down" pack="fa" style="color: white;"></nb-icon>
    </button>
    {{getImpression('DISLIKE')}}
  </div>
</div>
