@import '../../../../@theme/styles/themes';

:host {
  display: block;

  .desc-container {
    margin: 10px 0 10px 0;
  }
}

.user {
  position: relative;
  top: -2px
}

.header:hover {
  cursor: pointer;
  opacity: 0.5
}
