<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card *ngIf="snippet; else placeHolder">
    <nb-card-header (click)="choosePost()">
      <div style="float: left;"><h5>{{snippet.title}}</h5></div>
      <div style="float: right;"><h5>{{getDate()}}</h5></div>
    </nb-card-header>
    <nb-card-body (click)="choosePost()">
      <div class="desc-container" [innerHTML]="snippet.description"></div>
      <ngx-tags [tags]="snippet.tags"></ngx-tags>
    </nb-card-body>
    <nb-card-footer>
      <div class="row show-grid">
        <div class="col-md-8">
          <ngx-score [score]="snippet.score" [snippet]="snippet"></ngx-score>
        </div>
        <div class="col-md-3 offset-md-1">
          <span class="user-id">
            User: <ngx-reputation [userId]="snippet.username"></ngx-reputation>
          </span>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
  <ng-template #placeHolder>Alternate text while primary text is hidden</ng-template>
</div>
