@import '../../../@theme/styles/themes';

.editor-container {
  margin-top: 20px;
  height: nb-theme(card-height-medium);
}

.my-code-editor {
  .editor-container {
    height: nb-theme(card-height-medium);
  }
}