<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img src="assets/images/point_of_review_logo.png" alt="image" height="70" width="80">
      PointOf<span>&#60;Re&#62;view
      </span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  {{"hello "+user.username+" !"}}
  <nb-actions size="small">
    &#62; <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
  </nb-actions>
</div>
