@import '../../../@theme/styles/themes';


@include nb-install-component() {

  nb-card-body {
    height: nb-theme(card-height-medium);
  }

}

.review-item {
  padding: 0;
}

.review-title {
  padding-TOP: 8px;
}

.review-body {
  padding-left: 20px;
}

.user {
  position: relative;
  top: -2px
}
