<div *ngIf="snippet; else placeHolder" class="col-md-12 col-lg-12 col-xxxl-12 code-snippet-container">
  <nb-card class="code-snippet-container">
    <nb-card-header>
      <h5>{{snippet.title}}</h5>
    </nb-card-header>
    <nb-card-body>
      <div class="desc-container" [innerHTML]="snippet.description"></div>
      <ngx-tags [tags]="snippet.tags"></ngx-tags>
      <ngx-code-viewer [code]="snippet.code"></ngx-code-viewer>
    </nb-card-body>
    <nb-card-footer>
      <div class="row show-grid">
        <div class="col-md-8">
          <ngx-score [score]="snippet.score" [snippet]="snippet" [section]="null"></ngx-score>
        </div>
        <div class="col-md-3">
          <button nbButton status="primary" hero (click)="addCodeReview()">Add Review</button>
        </div>
        <div class="col-md-1">
          <ngx-report [userId]="snippet.userId"></ngx-report>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
  <nb-list listenWindowScroll>
    <nb-list-item *ngFor="let review of snippet.reviews">
      <nb-card (click)="chooseReview(review)">
        <nb-card-body>
          Review by
          <ngx-reputation [userId]="review.userId"></ngx-reputation>
        </nb-card-body>
      </nb-card>
    </nb-list-item>
  </nb-list>

</div>
<ng-template #placeHolder>refresh the page</ng-template>
